<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="6">
    <listeners> 
        <listener class-name="test.Listeners"/>
          </listeners>
   
    <test name="Personal loan">
       <parameter name="URL" value="personalloan.com"/>
         
    <classes>
      <class name="test.day1">
          <methods>
              <include name ="Demo"/>
          </methods>
          
          
</class>
      <class name="test.day2"/>
      <class name ="test.day4"/>
      
    </classes>
  </test> 
<test name ="Car Loan">
  <parameter name="URL" value="carloan.com"/>
  <parameter name="APIKey/usrname" value="123456"/>
       <classes>
          
          <class name="test.day3">
              <methods>
                  <exclude name="API.*"/>
              </methods>
              </class>
      </classes>
  </test>
</suite> 
